/* Content is this .css is overriden */

.background {
    position: fixed;
    inset: 0;
    background: rgba(18, 27, 45, 0.42);
    backdrop-filter: blur(3px);

    display: grid;
    place-items: center;

    z-index: 100;
  }

  .application-form {
    width: 520px;
    background: white;
    border-radius: 16px;
    padding: 24px;

    display: grid; 
    gap: 15px;
  }

  .form-heading {
    display: flex;
    justify-content: space-between;
  }

  .main-title{
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 1.2px;
    color: #6b7890;
  }

  .sub-title {
    margin: 5px 0 0;
    font-size: 22px;
    font-weight: 700;
  }

  .icon-button {
    width: 32px;
    height: 32px;

    border: 0;
    border-radius: 8px;
    background: white;
    color: #4d5a70;

    display: grid;
    place-items: center;

    font-size: 25px;
    font-weight: 700;
  }

  .icon-button:hover {
    background: rgba(211, 211, 211, 0.2);
  }

  .application-form label {
    /* Here grid only have 1 column, act like flex-column */
    display: grid;
    gap: 7px;

    color: #4d5a70;
    font-size: 12px;
    font-weight: 700;
  }

  .application-form input,
  .application-form select {
    width: 100%;
    height: 42px;

    border: 1px solid #dce2eb;
    border-radius: 9px;
    padding: 0 11px;
    outline: 0;

    color: #263247;
    background: #fff;
  }

  .form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 9px;
    margin-top: 5px;
  }

  .primary-button,
  .secondary-button {
    border: 0;
    border-radius: 10px;
    padding: 12px 17px;
    font-weight: 700;
  }

  .primary-button {
    background: #c4c7ce;
    color: black;
  }

  .primary-button:hover {
    /* background: blue; */
  }

  .secondary-button {
    background: rgba(211, 211, 211, 0.49);
    color: rgb(68, 68, 68);
  }