/* Entire container with fixed size */
.new-applications-table-container {
  background: #fff;
  border: 1px solid #e2e7f0;
  border-radius: 13px;
  padding: 15px;

  font-family: "Times New Roman", Times, serif;
  width: 1100px;
}

.job-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 20px;
  outline: 0;
}

.job-filters-filter-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box {
  border: 1px solid #dce2ed;
  background: #fff;
  border-radius: 11px;

  width: 320px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;
}

.search-box-icon {
  height: 14px;
}

.search-box-input {
  border: 0;
  outline: 0;

  width: 100%;

  padding: 10px;
  color: #172033;

  font-size: 13px;
}

.job-filter-select {
  border: 1px solid lightgray;
  border-radius: 8px;

  background-color: rgba(211, 211, 211, 0.15);
  color: gray;
  padding: 10px;

  font-family: "Times New Roman";
  font-size: 13px;
  font-weight: 500;
}

.job-filter-select:focus {
  outline: 0;
}

.job-filters-apply-filter-button {
  border: 0;
  border-radius: 10px;
  padding: 12px 17px;
  font-weight: 600;
  font-size: 13px;
  background: rgb(79, 70, 229);
  color: white;

  display: flex;
  align-items: center;
  gap: 7px;
}

.add-button-link {
  text-decoration: none;
}